/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Globals - Default HTML element styling.
 * 2. Template - Styling for the structure of the site.
 * 3. Legacy Browsers - Styling and fixes for legacy browsers.
 * ---------------------------------------------------------------------------
 */

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _library.scss: Styling for custom classes used throughout the site.
 * _page_name.scss: Styling for page/state specific elements. Name the
 *                  file appropriately.
 * ---------------------------------------------------------------------------
 */


/* GLOBALS
 * -----------------------------------------------------------------------------
 * Styling for default HTML elements.
 * -----------------------------------------------------------------------------*/
 
* {margin: 0; }
html, body {height: 100%;}
#page-wrap {  
    min-height: 100%;
    margin-bottom: -264px;
}
#page-wrap:after {content: ""; display: block; }
#page-wrap:after {height: 264px; }


/*** header ***/
header{
    /* background: #505050 url("../images/bg-header.jpg") repeat-x scroll 0 0;  */
    border-top: 2px solid $gold; 
    color: white;  
    .navbar-default {background-color: #000;}
}

.navbar-brand {
    height: auto;
    > img {max-width: 100%;} 
}

@media screen and (max-width: 768px) {
    .nav >li >a {padding: 0; }
}


.trail-wrapper {
    background-color: $gold-light; 
    border-bottom: 1px solid #9cacba;
    border-top: 1px solid #9cacba;
    margin: 0;
    padding: 0;
}    

/*** footer, override out-of-box styels  ***/
footer {
    &> .container {
        padding: 0;
        border: none; 
    }

    .row >div {padding-top: 0; border: none;}

    .btn-primary {
        background-color:#d8ab4c;
        border: #d8ab4c;
        color: #000;
        &:hover {
          background-color: #c6942b;
          color: #000; }
    }

   .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 0;
    }
} 


/***** DSpace element customization   ***/

#main-container {
    .row-offcanvas{ background-color: $white; }
    #sidebar {z-index: 1000; }
}

#ds-body {
    padding-right: 20px; 
   
   .collection { /* override vu-main style */ 
    width: 100%; 
    }  
}
     
#ds-options {padding: 20px 14px 0; }


.breadcrumb {
    border-bottom: 0px;
    > li + li:before{ content: " > "; }
}

.list-group-item-heading { font-weight: bold; }

.page-header{ border-bottom: none;  }  
.author-entry{ display: inline; }
.author-entry + .author-entry:before {content: ";"; }

.item-page-field-wrapper h4 {border-bottom: 1px solid #d8e8ed;  }

.simple-item-view-collections ul.ds-referenceSet-list{list-style: disc outside none;}

.item-summary-view-metadata {
    padding: 0 30px;
    margin-top: 10px; 
    margin-bottom: 30px; 
    h2 {color: #d8ab4c; text-align: justify; font-size: 140%; font-weight: bold;  }

    .simple-item-view-show-full {padding: 20px 0 ; }
    .item-page-field-wrapper {margin-bottom: 0; }
    .underline-border {border-bottom: 1px solid #d8e8ed; margin-bottom: 20px; padding-bottom: 2px;  }
    .author-entry { text-align: justify; font-weight: bold; font-size: 120%;}

}

.dl-horizontal dd {width: auto; }
.dl-horizontal dt {margin-left: 5px;}


