// Feature slider layout (e.g. – home & local library pages)
.feature-slider {
  .feature-piece {
    display: none;
    position: relative;

    @include media($tablet) {
      display: table;
    }
  }

  #sidebar-primary {
    display: block;
  }

  .content-primary {
    padding-top: 0;
  }

  .widget {
    border-bottom: none;

    .widget-title {
      font-size: 1.714em;
    }
  }

  .widget:first-child .widget-title {
    margin-top: 0.67em;
  }

  .widget-teaser {
    display: block;

    @include media($tablet)  {
      @include span-columns(4);
    }
  }

  #nav-most-used {
    background: #D2D2D2;
    border-radius: 3px 0 0 0;
    vertical-align: top;
    @include pad(1em 1.25em);

    @include media($tablet) {
      @include span-columns(2 of 9, table);
    }

    h6 {
      font-family: $header-font-family;
      font-size: 1.143em;
      font-weight: 700;
      margin-top: 0;
    }

    > ul {
      @extend .nav-simple-list;
    }
  }

  .wrap-slide {
    border-radius: 0 10px 0 0;
    vertical-align: top;

    @include media($tablet) {
      @include span-columns(7 of 9, table);
    }
  }
}

.feature-slider.sidebar .content-primary {
  @include media($desktop) {
    @include border-image(linear-gradient($white 5%, #CECECE 15%, #CECECE 85%, $white 95%) 1 100%);
  }
}
