.no-touch .hours {
  #mobile-calendar {
    display: none;
  }
}

.hours {
  #nav-calendar {
    margin-bottom: 1em;
    text-align: center;
    @include clearfix;
  }

  #browse-calendar-touch {
    margin-left: 20px;
    position: relative;

    &:before {
      left: -26px;
      position: absolute;
      top: -1px;
    }
  }

  .ui-datepicker-trigger {
    @extend .btn-calendar
  }

  .prev-week,
  .next-week {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  .prev-week {
    @extend .btn-prev;
    float: left;
  }

  .next-week {
    @extend .btn-next;
    float: right;
  }

  .table-blue {
    thead th,
    tbody td {
      display: none;
      width: 50%;

      @include media($tablet) {
        display: table-cell;
        width: auto;

        &.set-width {
          width: 100px;
        }
      }
    }

    thead th:first-child,
    tbody td:first-child,
    .date-selected {
      display: table-cell;
    }
  }

  .table-blue thead th:first-child {
    @include media($tablet) {
      width: 150px;
    }
  }

  td.today {
    @include media($tablet) {
      background: $yellow;
    }
  }

  .library-link {
    display: block;

    a {
      text-decoration: none;
    }
  }

  #location-number {
    float: right;
  }
}
