/* LIBRARY
 * -----------------------------------------------------------------------------
 * Styling for custom elements used throughout the site.
 * -----------------------------------------------------------------------------*/

/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Utilities
 * 2. Buttons
 * 3. Forms
 * 4. Lists
 * 5. Navigation
 * 6. Tables
 * 7. Other/Misc
 * ---------------------------------------------------------------------------
 */

/**** Utilities ****/
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.clearfix { display: block; }
.selfclear { clear: both; }
.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.valign-top { vertical-align: top; }
.valign-middle { vertical-align: middle; }
.valign-bottom { vertical-align: bottom; }
.relative { position: relative; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.hide { display: none; }

/**** Buttons ****/
button {
  border: none;
  background: none;
}

.btn, .btn:visited {
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  color: $gray-dark;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 1px;
  padding: 0.3em 1.5em;
  text-decoration: none;
  vertical-align: text-bottom;

  &:hover {
    color: $gray-dark;
  }

  &:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15), 0 1px 0 rgba(255,255,255, 1.0);
    color: $gray-dark;
    padding-top: 0.325em;
    padding-bottom: 0.275em;
  }

  &.btn-disabled {
    background: #D3D3D3;
  }
}

.btn-disabled {
  box-shadow: none !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-primary {
  @extend .btn;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  color: $gold-dark;
  text-shadow: 0 1px 0 transparentize($white, 0.4);

  &:hover,
  &:active {
    color: $gold-dark;
  }

  &.btn-disabled {
    background: $gold;
  }
}

.btn-inverse, .btn-inverse:visited {
  @extend .btn;
  border: none;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  color: $white;

  &:hover {
    color: $white;
  }

  &:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255, 0.5);
    color: $white;
    padding-top: 0.4em;
    padding-bottom: 0.3em;
  }

  &.btn-disabled {
    background: #333333;
  }
}

.btn-more {
  @extend .btn-inverse;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  padding: 0.5em 1.0em;

  &:after {
    background: url('../images/icon-arrow-right.png') no-repeat 0 0;
    content: '';
    display: inline-block;
    height: 19px;
    margin: 0 0 0 0.5em;
    width: 19px;
    vertical-align: middle;

  }

  &:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255, 0.15);
    padding-top: 0.6em;
    padding-bottom: 0.4em;
  }
}

.btn-calendar {
  color: $gray-dark;
  font-weight: bold;

  &:before {
    background: url('../images/icon-calendar.png') no-repeat 0 0;
    content: '';
    display: inline-block;
    height: 21px;
    margin-right: 0.6em;
    vertical-align: bottom;
    width: 18px;

  }
}

.btn-prev:before {
  content: '\25C0';
  font-size: 0.75em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.btn-next:after {
  content: '\25B6';
  font-size: 0.75em;
  margin-left: 0.5em;
  vertical-align: middle;
}

.btn-small {
  font-size: 0.75em;
  padding: 0.1em 0.8em;

  &:active {
    padding-top: 0.15em;
    padding-bottom: 0.075em;
  }
}

.btn-large {
  font-size: 1.25em;
  padding: 0.45em 1.5em;
  vertical-align: top;

  &:active {
    padding-top: 0.5em;
    padding-bottom: 0.45em;
  }
}



/**** Forms ****/
form {
  margin-bottom: 2em;
}

input,
#label {
  font-size: $base-font-size;

  &.input-mega {
    font-size: 1.15em;
    padding: 0.5em 0.75em;
  }
}


select {
  width: 190px;
}

.selector select {
  width: 100%;
}

label {
  font-size: em(13, $base-value);
  font-weight: 500;
}

.form-inline-grouped {
  .control-group {
    display: inline-block;
  }
}

.form-gray {
  background: $gray-lighter;
  border-radius: 3px;
  padding-top: 1px;

  header,
  fieldset {
    padding: 0 1em;
  }

  h1 {
    border-bottom: 1px solid #D4D4D4;
    font-size: 1.857em;
    padding-bottom: 0.5em;
  }

  .form-actions {
    border: none;
    border-radius: 0 0 3px 3px;
    margin-bottom: 0;
  }
}

.form-actions {
  background: #E3E3E3;
}

.tabbable form {
  margin-bottom: 0;
}

.full-width-search {
  .search-query-field {
    margin-right: 1%;
    width: 83%;
  }

  button  {
    padding-left: 2% !important;
    padding-right: 2% !important;
    width: 15%;
  }
}

form.horizontal {

  .field-group {
    float: left;
  }

  label {
    float: left;
    margin-right: 2%;
    margin-top: .3em;
  }
  #select, textarea, .selector {
    float: left;
  }
}


/**** Lists ****/
.list-horizontal {
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
  }
}

.list-unstyled {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

/**** Navigation ****/
.nav-simple {
  @extend .list-horizontal;

  > li:after {
    color: $gray;
    content: '|';
    display: inline-block;
    padding: 0 0.5em 0 0.55em;
  }

  > li:last-child:after {
    content: '';
    display: none;
  }

  > li > a {
    font-weight: 500;
    text-decoration: none;
  }
}

#nav-use-library > ul > li {
  > a {
    background: url('../images/icon-use-library.png') no-repeat 0 3px;
    display: block;
    padding-left: 35px;


    &:hover { background-position: -344px 3px; }
  }

  &.interlibrary-loan > a { background-position: 0 -33px; }
  &.interlibrary-loan > a:hover { background-position: -344px -33px; }

  &.oak > a { background-position: 0 -68px; }
  &.oak > a:hover { background-position: -344px -68px; }

  &.research-guides > a { background-position: 0 -104px; }
  &.research-guides > a:hover { background-position: -344px -104px; }

  &.study-rooms > a { background-position: 0 -139px; }
  &.study-rooms > a:hover { background-position: -344px -139px; }

  &.technology > a { background-position: 0 -174px; }
  &.technology > a:hover { background-position: -344px -174px; }
}

.nav-social {
  @extend .list-horizontal;

  > li {
    margin: 0 0 0 0.2em;
    vertical-align: top;
  }

  > li > a {
    background: $gray-darker url('../images/icon-social.png') no-repeat 6px 5px;
    border-radius: 3px;
    display: block;
    height: 27px;
    width: 27px;
  //  @include transition(background-color 0.2s ease-in-out);


    &:hover {
      background-color: lighten($gray-darker, 10%);
    }
  }

  > li.facebook > a {
    background-position: -17px 5px;
  }

  > li.rss > a {
    background-position: -40px 5px;
  }
}

.nav-widget {
  &.widget .widget-title {
    font-size: 1.714em;
  }

  > ul {
    font-size: 0.9em;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      padding: 0.7em 0;
      width: 100%;

      @include media(min-width 400px) {
        width: 48%;
      }

      @include media($tablet) {
        width: 32%;
      }

      @include media($desktop) {
        display: list-item;
        width: auto;
      }
    }
  }

  a, a:visited {
    color: $gray-dark;
    text-decoration: none;
  }

  a:hover, a:active {
    color: darken($blue, 10%);
  }
}

.nav-simple-list {
  @extend .list-unstyled;
  border-top: 1px solid #B1B1B1;

  > li {
    border-bottom: 1px solid #B1B1B1;
    border-top: 1px solid #ECECEC;
    padding: 0.5em 0;
  }

  > li:last-child {
    border-bottom: none;
  }

  a {
    font-family: $header-font-family;
    font-size: 1.143em;
    font-weight: 700;
    text-decoration: none;
  }

  .link-label {
    display: none;
    font-size: 0.857em;
    line-height: 1.5em;

    @include media(min-width 1000px) {
      display: block;
    }
  }
}

.dropdown {
  position: relative;

  > a {
    margin-bottom: 0.4em;
  }

  &.active > a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-bottom: 0;
    padding-bottom: 0.4em !important;
  }

  &.active > .dropdown-pane {
    display: block;
  }

  > a:after {
    content: '\25BC';
    display: inline-block;
    font-size: 0.6em;
    margin: 0 0 0 5px;
  }

  > .dropdown-pane {
    @extend .list-unstyled;
    background: #474747;
    border-radius: 0 3px 3px 3px;
    display: none;
    left: 0;
    padding: 0.5em 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 200px;
    z-index: 100;

    > li > a {
      display: block;
      padding: 0.5em 1.0em !important;
      @include transition(color 0.3s ease-in-out);
    }
  }
}

.dropdown.off-screen > .dropdown-pane {
  border-radius: 3px 0 3px 3px;
  left: auto;
  right: 0;
}

.no-touch .dropdown > ul:hover a {
  color: $gray-light !important;

  &:hover {
    color: $white !important;
  }
}

.upper {
  text-transform: uppercase;
}

.nav-tabs {
  font-weight: bold;
  padding-left: 0;

  > li > a {
    border: 1px solid #C1C1C1;
    border-bottom: none;
    color: $gray-dark;
    font-size: 0.929em;
    margin: 0;
    padding: 0.25em 1em;
    text-decoration: none;
    text-shadow: 1px solid $white;

    &:hover {
      border-color: #C1C1C1;
    }
  }

  > li.active > a {
    background: $white;
  }
}

.list-link {
  color: $gray;
  font-weight: bold;
  margin-right: .5em;
  text-decoration: none;

  &:hover {
    color: $gray-dark;
  }
}

/**** Tables ****/
.table-bordered {
  th, td {
    border-left-width: 0;

    &:first-child {
      border-left-width: 1px;
    }
  }
}

.table-nested {
  border-bottom: 1px solid #DDDDDD;

  th, td {
    border-top: none;
  }

  table {
    border-top: 1px solid #DDDDDD;
    margin-bottom: 0;
  }
}

.table-blue {
  thead th,
  tbody td {
    font-size: 0.857em;
    text-align: center;
  }

  thead tr:first-child th {
    background: $blue;
    color: $blue-light;
    border-left-width: 0;

    &:first-child {
      border-left-width: 1px;
      color: $white;
      font-size: 1.0714em;
      text-align: left;
    }
  }

  thead th {
    background: #D8D8D8;
    border-left: 1px solid #BFBFBF;
    color: $gray-dark;
  }

  tbody td {
    background: #F3F3F3;
    border-left: 1px solid #BFBFBF;
    font-weight: 400;

    &:first-child {
      text-align: left;
    }
  }
}


th, td {
  &.label,
  &.division {
    color: $gray;
  }

  &.name {
    font-weight: bold;
  }

  &.phone {
    min-width: 106px;
  }

  &.email {
    min-width: 250px;
  }
}



/**** Other/Misc ****/
.oucampus-wysiwyg {
  background: #fff;
}

.logo-vandy-library {
  background: url('../images/logo-vandy-library.png') no-repeat 0 0;
  display: inline-block;
  height: 100px;
  width: 255px;
  @include hide-text;


  > a {
    display: block;
    height: 60px;
    width: 100%;

    &.location-link {
      height: 40px;
    }
  }
}

// Body classes to display logos
// for each local library
$libraries: central, management, law, science, peabody, divinity, music, eskind, special;

@each $library in $libraries {
  .library-#{$library} .logo-vandy-library {
    background-image: url('../images/logo-vandy-library-#{$library}.png');
  }
}

.no-results {
  color: $gray-light;
  font-weight: bold;
}

.post-title,
.entry-title {
  margin-top: 0;
}

.sub-head {
  color: $gray;
  font-size: 1.25em;
  margin: -0.75em 0 2.0em 0;
}

.no-feature .post-title {
  margin-top: 0;
}

.callout-text {
  color: $red;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
}

.callout-title {
  color: $gold;
  font-family: $header-font-family-alt;
  font-size: 1.643em;
  margin: 0.5em 0;
}

.callout-link,
.callout-link:visited {
  color: $red;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: darken($red, 5%);
  }
}

.callout-box {
  background: $gray-lighter;
  border-radius: 3px;
  margin-bottom: 3em;

  h4 {
    background: $blue;
    border-radius: 3px 3px 0 0;
    color: $white;
    font-size: 1.643em;
    font-weight: 400;
    margin: 0;
    padding: 0.5em 3%;
  }

  h5 {
    font-size: 1.357em;
  }

  .callout-content {
    margin-top: 1em;
    padding: 0 3% 1em;

    img {
      border-radius: 3px;
      height: auto;
      max-width: 100%;
    }

    ul {
      font-size: 1.071em;
      font-weight: 400;
      padding-left: 1.5em;
    }

    a {
      text-decoration: none;
    }
  }
}

.callout-small {
  @include media($tablet) {
    float: right;
    margin-left: 4%;
    max-width: 450px;
    width: 55%;
  }
}

.blue-box {
  background: $blue;
  color: $white;
  padding: 1.0em 1.75em;

  h1 {
    color: $white;
    font-family: $header-font-family-alt;
    font-weight: 500;
    margin: 0;
  }

  h3 {
    color: #99C3CC;
    font-size: 1.357em;
    font-family: $header-font-family-alt;
    margin: 0 0 1.0em 0;
  }

  h6 {
    border-bottom: 1px solid #99C3CC;
    color: #99C3CC;
    font-family: $header-font-family;
    font-size: 1.071em;
    padding-bottom: 0.5em;
  }
}

.lead {
  font-size: 1.214em;
  line-height: 1.5em;
}

.well {
  background: $gray-lighter;
  border-radius: 3px;
  padding: 1em;

  > *:last-child {
    margin-bottom: 0;
  }
}

.title-link,
.title-link:visited {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $gray;
  }
}

.more-link,
.more-link:visited {
  color: $gray-darker;
  float: right;
  font-size: 0.714em;
  font-weight: 500;
  text-decoration: none;

  &:after {
    background: url('../images/icon-arrow-right-gold.png') no-repeat 0 0;
    content: '';
    display: inline-block;
    height: 15px;
    margin-left: 0.5em;
    vertical-align: middle;
    width: 15px;

  }
}

p > .more-link {
  display: inline-block;
  float: none;
  font-size: em(13, $base-value);
  margin-left: 0.5em;
}

.more-link-large {
  @extend .more-link;
  font-size: 1.0em;
  font-weight: bold;

  &:after {
    background: url('../images/icon-arrow-right-gold-large.png') no-repeat 0 0;
    height: 19px;
    width: 19px;

  }
}

.more-link-simple {
  display: block;
  font-size: em(13, $base-value);
  text-decoration: none;
  font-weight: 700;
}

.section-header {
  border-bottom: 1px solid $gray-lighter;
  color: $red;
  display: block;
  font-size: 1.2em;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.widget {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1em;
  padding-bottom: 1em;
  @include clearfix;

  &:last-child {
    border-bottom: none;
  }

  .widget-title {
    font-family: $header-font-family;
    font-size: 1.429em;
    font-weight: 300;
  }

  .widget-subhead {
    color: $gray-darker;
    font-family: $header-font-family;
    font-size: 1.071em;
    font-weight: 400;
    margin-bottom: 0.25em;
    text-transform: none;
  }

  img {
    border-radius: 3px;
    height: auto;
    width: 100%;
  }

  p {
    font-size: 0.85em;
  }
}

.widget:first-child .widget-title {
  margin-top: 0;

  @include media($desktop) {
    margin-top: 0.67em;
  }
}

.widget-teaser {
  display: none;

  @include media($desktop) {
    display: block;
  }

  p {
    margin-bottom: 0;
  }
}


// Overrides to jQuery UI Datepicker theme
.ui-datepicker {
  font-size: $base-font-size;
  margin: 2.5em 0 0 -2em;
}

.ui-state-default,
.ui-state-hover {
  background: none !important;
  border: none !important;
}

.ui-state-hover {
  opacity: 0.8;
  top: 2px !important;
}

.ui-datepicker-prev-hover {
  left: 2px !important;
}

.ui-datepicker-next-hover {
  right: 2px !important;
}


.collections .collection {
  margin-bottom: 1.5em;

  @include media($tablet) {
    @include span-columns(4);
    @include omega('3n+3');
  }

  a {
    text-decoration: none;
  }

  h4 {
    font-family: $header-font-family;
    font-size: 1.286em;
    font-weight: 400;
    margin-top: 0.25em;
    min-height: 42px;
  }

  img {
    border-radius: 3px;
    height: auto;
    width: 100%;
  }
}

.header-tabbed {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 2em;
  @include span-columns(12);

  h1 {
    margin-bottom: 0.25em;

    @include media($desktop) {
      @include span-columns(5);
    }
  }

  .nav-simple {
    margin-bottom: 0.75em;

    @include media($desktop) {
      margin-top: 2em;
      text-align: right;
      @include span-columns(7);
    }

    li {
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }

      &:after {
        display: none;
      }
    }

    a {
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.promo-photo {
  color: $white;
  margin-bottom: 1em;
  max-width: 415px;
  position: relative;

  img {
    border-radius: 3px;
    height: auto;
    vertical-align: top;
    width: 100%;
  }

  .promo-text {
    display: block;
    bottom: 0;
    padding: 1em 4%;
    position: absolute;
    width: 100%;
  }

  h3 {
    color: $white;
    display: inline-block;
    font-family: $header-font-family-alt;
    font-size: 1.05em;
    font-weight: 400;
    margin: 0;

    @include media($tablet) {
      font-size: 1.929em;
    }
  }

  .caption {
    display: none;

    @include media($tablet) {
      display: inline-block;
    }
  }

  .more-link-large {
    color: $white;
    display: inline-block;

    @include media($tablet) {
      margin-top: 0.5em;
    }
  }

  &.promo-caption {
    h3 {
      @include media($tablet) {
        border-bottom: 1px solid transparentize($white, 0.5);
        display: block;
        margin-bottom: 0.45em;
        padding-bottom: 0.25em;
      }
    }

    .more-link-large {
      margin-top: 0;
    }
  }
}

.embed-video {
  margin-bottom: 2em;
  overflow: hidden;
  z-index: 0;

  .embed-text {
    @extend .blue-box;
  }

  .embed-date {
    color: #99C3CC;
    font-size: 0.786em;
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.429em;
  }

  h6 {
    margin-top: 0;
  }

  p {
    font-size: 0.929em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.embed-caption-side {
  @include media($desktop) {
    display: table;
  }

  .embed-frame {
    @include media($desktop) {
      @include span-columns(8, table);
      padding: 0;
    }
  }

  .embed-text {
    @include media($desktop) {
      vertical-align: top;
      @include span-columns(4, table);
      padding: 0.75em 1.5em !important;
    }

    h1 {
      @include media($desktop) {
        font-size: 2em;
        margin: 0.75em 0;
      }
    }

    h6 {
      @include media($desktop) {
        margin-top: 0.67em;
      }
    }
  }
}


/**** WordPress defaults ****/
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.alignright { float: right; }
.alignleft { float: left; }

.wp-caption {
  background: #fff;
  max-width: 100%;
  text-align: center;

  a {
    display: block;
  }

  .wp-caption-text {
    font-size: 0.786em;
    margin: 0;
    padding: 0 0.3em 0.4em;
  }
}

