// Styles for Staff page
.staff {
  h2 {
    color: $gray-dark;
  }

  h4 {
    color: $blue;
  }

  h5 {
    color: $red;
  }

  #search-staff {
    padding-top: 0.25em;
    padding-bottom: 0;

    .control-group {
      margin-right: 1em;
    }

    .btn-primary {
      margin-bottom: -1px;

      &:active {
        margin-bottom: -2px;
      }
    }
  }

  .letter-list {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 1.0em;
    padding: 0 0 1em 0;
    text-transform: uppercase;

    a, a:visited {
      color: lighten($gray, 10%);
      margin: 0 0.5em 0 0;
      font-weight: 500;
      text-decoration: none;
    }

    a:hover {
      color: $gray-darker;
    }
  }

  #note-area-code {
    display: block;
    margin-bottom: 0.5em;
  }

  #staff-member {
    .avatar {
      width: 40px;

      @include media($tablet) {
        width: 100px;
      }
    }

    .label {
      width: 150px;
    }
  }

  .division,
  .unit {
    font-weight: 600;
  }

  #staff-by-department .division {
    background: $gray !important;
    color: $white;
  }
}
