/*
 * PLEASE, PLEASE, PLEASE...
 * Organize your CSS. Do not simply throw your CSS at the end
 * of this file. Read the table of contents and _use_ it.
 */

/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Globals - Default HTML element styling.
 * 2. Template - Styling for the structure of the site.
 * 3. Legacy Browsers - Styling and fixes for legacy browsers.
 * ---------------------------------------------------------------------------
 */

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _library.scss: Styling for custom classes used throughout the site.
 * _page_name.scss: Styling for page/state specific elements. Name the
 *                  file appropriately.
 * ---------------------------------------------------------------------------
 */


/* GLOBALS
 * -----------------------------------------------------------------------------
 * Styling for default HTML elements.
 * -----------------------------------------------------------------------------*/
body {
  background: $gray-dark;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: $blue;
}

a:hover, a:active {
  color: darken($blue, 10%);
}

p {
  margin: 0 0 1.5em 0;
}

blockquote {
  border-left: 8px solid #DDDDDD;
  margin-left: 0;
  padding-left: 2em;

  > p {
    font-size: 1.5em;
    line-height: 1.3em;
  }
}

small {
  font-size: 85%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.67em 0;
}

h1, .h1 {
  color: $red;
  font-size: 2.642em;
  line-height: 1.2em;
  margin: 0.5em 0;
}

h2, .h2 {
  color: $red;
  font-size: 2.215em;
  font-weight: 400;
  line-height: 1.2em;
}

h3, .h3 {
  @extend h2;
  color: $blue;
}

h4, .h4 {
  color: $red;
  font-family: $header-font-family-alt;
  font-size: 1.357em;
  font-weight: 700;
}

h5, .h5 {
  font-family: $header-font-family-alt;
  font-size: 1.071em;
  font-weight: 500;
  line-height: 1.5em;
}

h6, .h6 {
  color: $gray;
  font-family: $base-font-family;
  font-size: 0.857em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

dl {
  color: $gray;
  margin-bottom: $base-line-height;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 2em;
  margin-left: 0;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
    @include text-overflow();
  }

  dd {
    margin-left: 130px;
  }
}

hr {
  background-color: #DADADA;
  border: none;
  height: 1px;
}

menu, ol, ul {
  padding: 0 1.5em;
}



/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site.
 * -----------------------------------------------------------------------------*/
.wrap {
  @include outer-container;
}

#header-primary,
#content-page,
#footer-primary {
  @include pad(0 1em);

  @include media($tablet) {
    @include pad(0 1.25em);
  }
}

#header-primary {
  background: #0B0B0B url('../images/bg-header.jpg') repeat-x 0 0;
  border-top: 2px solid $gold;
  padding-bottom: 0;

  &:after {
    background: $white;
    content: '';
    display: block;
    border-radius: 3px 3px 0 0;
    height: 20px;
    margin: 0 auto;
    max-width: 77.71429em;
    z-index: 100;
  }


  .branding {
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;

    @include media($tablet) {
      margin-top: 0.5em;
      text-align: left;
    }

    @include media($desktop-header) {
      @include span-columns(3);
    }
  }

  .logo-vandy-library {
    margin-left: -15px;
  }
}

#nav-utilities {
  @extend .list-horizontal;
  background: $gold;
  border-radius: 0 0 3px 3px;
  color: $white;
  font-size: 0.85em;
  font-weight: 400;
  padding: 0.25em 1.5em;
  position: absolute;
  right: 0;
  top: 0;

  > li {
    border-left: 1px solid $white;
    margin-left: 0.6em;
    padding-left: 0.8em;

    &:first-child {
      border: none;
      margin-left: 0;
      padding-left: 0;
    }

    &.nav-peoplefinder,
    &.nav-email {
      display: none;

      @include media($tablet) {
        display: inline-block;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: darken($white, 10%);
    }
  }
}

#nav-primary {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 2em;
  @include clearfix;

  @include media($tablet) {
    display: block;
  }

  @include media($desktop-header) {
    margin-top: 4em;
    text-align: right;
    @include span-columns(9);
    @include omega();
  }

  .nav-mobile {
    text-align: center;
    @include span-columns(12);

    @include media($tablet) {
      display: none;
    }

    > li {
      width: 48%;
    }

    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .locations a {
    }
  }

  .nav-tablet {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  > ul {
    @extend .list-horizontal;

    > li {
      margin: 0 0.2em;
    }

    > li:first-child {
      margin-left: 0;
    }

    > li:last-child {
      margin-right: 0;
    }
  }

  > ul > li > a,
  .dropdown-pane > li > a {
    border-radius: 3px;
    color: $white;
    display: block;
    padding: 0.15em 1em;
    text-decoration: none;
    text-shadow: 0 1px 0 $black;

    &:after {
      color: $gray-light;
    }
  }

  .search > a {
    background: $gold;
    color: $gold-dark;
    text-shadow: 0 1px 0 transparentize($white, 0.4);

    &:after {
      color: $gold-dark;
    }
  }

}

.no-touch #nav-primary > ul > li > a:hover,
#nav-primary > ul > li.active > a {
  color: $white;
  text-shadow: 0 -1px 0 transparentize($black, 0.8);

  &:after {
    color: $white;
  }
}

.mobile-search {
  text-align: center;
  @include span-columns(12);

  @include media($tablet) {
    display: none;
  }

  .search-query-field {
    margin: 0 2% 0 0;
    width: 80%;
  }

  .btn-search-large {
    padding: 0.55em 0;
    width: 15%;
  }
}

#content-page {
  background: $gray-lighter;

  > .wrap {
    background: $white;
    position: relative;
    z-index: 1;
  }
}

.feature-piece {
  background: $gray-light;
  border-radius: 3px;
  margin: -20px 0 1em 0;
  @include transition(background-color 0.3s ease-in-out);

  @include media($tablet) {
    @include span-columns(12);
    @include omega;
  }

  > * { @include transition(opacity 0.3s ease-in-out); }

  > img {
    border-radius: 3px 3px 0 0;
    height: auto;
    vertical-align: top;
    width: 100%;
  }
}

.breadcrumbs {
  color: #666666;
  font-size: 0.929em;
  font-weight: 500;
  margin-bottom: 1em;
  @include pad(0 1em);

  @include media($tablet) {
    @include pad(0 1em);
  }

  @include media($desktop) {
    @include pad(0 2em);
  }

  > ul {
    @extend .list-horizontal;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 1em;

    > li {
      line-height: 2.0em;
    }

    > li:after {
      background: url('../images/icon-breadcrumb-arrow.png') no-repeat 0 0;
      content: '';
      display: inline-block;
      height: 15px;
      margin: 0 0.25em;
      vertical-align: middle;
      width: 7px;

    }

    li:last-child:after {
      display: none;
    }

    li.home > a {
      background: url('../images/icon-home.png') no-repeat 0 center;
      padding-left: 1.5em;

    }
  }

  a, a:visited {
    color: #666666;
    text-decoration: none;
  }

  a:hover {
    color: darken(#666666, 10%);
  }
}

#sidebar-primary {
  display: none;
  @include pad(0 1em);

  @include media($desktop) {
    display: block;
    @include span-columns(2 of 9);
    @include pad(0 0 0 2em);
  }
}

.content-primary {
  background: $white;
  margin-bottom: 2em;
  min-height: 300px;
  @include pad(0 1em);

  @include media($desktop) {
    @include span-columns(7 of 9);
    @include pad(0.75em 2em 0 2em);
  }

  .alignnone,
  img.pull-right, .alignright,
  img.pull-left, .alignleft { margin-bottom: 1em; }

  img.pull-right, .alignright { margin-left: 5%;}
  img.pull-left, .alignleft { margin-right: 5%;}
}

// Page w/ sidebar
.sidebar .content-primary {
  @include media($desktop) {
    border-left: 1px solid #CDCDCD; // Old browsers
    border-width: 0 0 0 1px;
    @include curved-shadow(left);
    @include pad(0.75em 2em 0 2.5em);
  }
}

// Page w/o sidebar
.full-width .content-primary {
  @include span-columns(12);
}

#footer-primary {
  border-top: 5px solid $gold;
  background: $gray-dark;
  color: $gray-light;

  .wrap {
    background: url('../images/bg-footer.png') no-repeat 0 0;
    min-height: 264px;

  }

  .footer-top {
    @include clearfix;
  }

  .footer-bottom {
    border-top: 1px solid $gray;
    font-size: 0.857em;

    a, a:visited {
      color: $gray-light;
      text-decoration: none;
    }

    a:hover, a:active {
      color: darken($gray-light, 10%);
    }
  }
}

#footer-callout,
#nav-footer-social {
  margin-bottom: 2.0em;
}

#footer-callout {
  margin-top: 2em;

  @include media($tablet) {
    @include span-columns(9);
  }

  .give-now {
    background: url('../images/text-give-now.png') no-repeat 0 0;
    height: 72px;
    float: left;
    width: 83px;
    @include hide-text;

  }

  .callout-block {
    padding-left: 110px;
  }
}

#nav-footer-social {
  @include media($tablet) {
    margin-top: 2.7em;
    text-align: right;
    @include span-columns(3);
  }

  .nav-title {
    color: $gold;
    font-family: $header-font-family-alt;
    font-size: 1.071em;
  }

  > ul {
    @extend .nav-social;
    display: inline-block;
  }
}

#library-address,
#nav-footer-tools {
  @extend .nav-simple;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  font-weight: 400;
}

#library-address {
  @include media($tablet) {
    @include span-columns(7);
  }
}

#nav-footer-tools {
  @include media($tablet) {
    text-align: right;
    @include span-columns(5);
  }
}



/* LEGACY BROWSERS
 * -----------------------------------------------------------------------------
 * Styling and fixes for legacy browsers.
 * -----------------------------------------------------------------------------*/
.lte-ie9 {}
