<div class="jumbotron jumbotron-fluid py-5" style="background-color:#d6d6d6; color:#000;">
    <div class="container">
        <h1>About the Vanderbilt University Institutional Repository</h1>
        <p>
          The University Institutional Repository (VUIR) is a digital repository providing open access to scholarly research at Vanderbilt University. Faculty, students and staff at Vanderbilt may contribute materials. This service, provided by the library, supports the university in the preservation and dissemination of research. <a href="/about">Learn more...</a>
        </p>
    </div>
</div>

