<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>About the Vanderbilt University Institutional Repository</h1>
        <p>
          The University Institutional Repository (VUIR) is a digital repository providing open access to scholarly research at Vanderbilt University. Faculty, students and staff at Vanderbilt may contribute materials. This service, provided by the library, supports the university in the preservation and dissemination of research. <a href="/about">Learn more...</a>
        </p>
    </div>
</div>

<div class="container">
    <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-sm">
            <a href="/communities/02031421-f8e1-4b63-9061-8a40d95365a5">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/artssciences.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at the College of Arts and Sciences.</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/communities/39a5f46e-f630-4439-bdaf-73270e9e4513">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/law.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at Vanderbilt Law School.</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/communities/29e57c9a-33e4-426b-a495-155673bdb013">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/blair.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at the Blair School of Music.</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="/communities/66cf37c7-c389-48c2-9504-59c0df520af5">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/peabody.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at the Peabody College of Education and Human Development.</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/communities/b2c87506-9e7a-4dbd-9e82-8b85a9dfe502">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/divinity.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at Vanderbilt Divinity School.</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm">
            <a href="/communities/0a026a8d-fc05-4481-87a4-5f762870018f">
                <figure class="figure">
                    <img src="https://ir.vanderbilt.edu/themes/vu2020R/images/owen.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Open Access at Owen Graduate School of Management.</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>
