/*
Syntax error: Undefined variable: "$gray-lighter".
        on line 9 of /apps/apache-tomcat-7.0.65/DA/xmlui/themes/VU2/styles/pages/ask_librarian.scss

4:   .search-query-field {
5:     margin-bottom: 0;
6:   }
7: 
8:   .staff-table {
9:     border-top: 1px solid $gray-lighter;
10:     margin-top: 1.5em;
11:     padding-top: 0.25em;
12:   }
13: 
14:   #note-area-code {

Backtrace:
/apps/apache-tomcat-7.0.65/DA/xmlui/themes/VU2/styles/pages/ask_librarian.scss:9
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/list_literal.rb:62:in `map'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/list_literal.rb:62:in `_perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:291:in `watch'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `call'
/root/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/home/yout/.rbenv/versions/1.9.3-p551/bin/compass:23:in `load'
/home/yout/.rbenv/versions/1.9.3-p551/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gray-lighter\".\A         on line 9 of /apps/apache-tomcat-7.0.65/DA/xmlui/themes/VU2/styles/pages/ask_librarian.scss\A \A 4:   .search-query-field {\A 5:     margin-bottom: 0;\A 6:   }\A 7: \A 8:   .staff-table {\A 9:     border-top: 1px solid $gray-lighter;\A 10:     margin-top: 1.5em;\A 11:     padding-top: 0.25em;\A 12:   }\A 13: \A 14:   #note-area-code {"; }
